@charset "UTF-8";
/*Fontes:
Título: Quicksand
Texto: Josefin Sans

Cores:
#173261
#a9a9a9
343538
#fff

/*
/*Smartphone Portatil*/

/*Smartphone Landscape*/
@media (min-width: 576px){
    body{
        background: #0c0000;
    }
}
/*Tablet Portatil*/
@media (min-width: 768px){
    body{
        background: #019e23;
    }
}
/*Tablet Landscape*/
@media (min-width: 992px){
    body{
        background: #f84008;
    }
}
/*PC*/
@media (min-width:1200px){ 
    body{
        background: #08dcf8;
    }

}